* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ec407a; 
    color: #fff176;            
    padding: 30px 50px;
    box-shadow: 0 4px 10px rgba(236, 64, 122, 0.3);
}



li {
    display: inline-block;
    font-size: 18px;
    padding: 5px 15px;
}